:root {
  --light-blue-100: #f3f5fc;
  --light-blue-150: #d8dfe8;
  --dark-blue-100: #609ed4;
  --dark-blue-300: #0a3871;
  --gray-gray-400: #495057;
  --gray-gray-500: #343a40;
}
html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
  background: var(--light-blue-100);
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
}
.header__logo {
  max-width: 100px; 
  height: auto;
  margin-left: 20px;
}
.header__title{
  color: var(--dark-blue-300);
  text-transform: uppercase;
  flex-grow: 1;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;

}

.container_input {
  margin: 20px;
  max-width: 100%;

  padding: 20px;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.textbox__input {
  background-color: transparent;
  color: var(--dark-blue-300);
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
  border: none;
  cursor: pointer;
  resize: none;
  outline-style: none;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  overflow: hidden;
  padding: 10px;
}
.textbox__input::placeholder {
  color: var(--dark-blue-300);
}

.actions {
  justify-content: flex-end;
}
.warning {
  display: flex;
  align-items: center;
}
.warning__text {
  color: var(--gray-gray-400);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.8;
  padding: 0 8px;
}

.container__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  justify-content: space-around;
}
.button {
  border-radius: 24px;
  padding: 24px;
  cursor: pointer;
  flex: 1;
  max-width: 50%;
  text-align: center;
}
.button_encrypt {
  background-color: var(--dark-blue-300);
  color: #ffff;
}
.button__decrypt {
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
  background: var(--light-blue-150);
}

.container_output {
  border-radius: 32px;
  background: #ffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

  height: 100%;
  margin: 20px;
  max-width: 100%;
  
  padding: 20px;
  min-height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  
}
.ini_s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px;
  height: 100%;
}
.is__img {
  text-align: center;
}
.ini_s__img {
  width: 100%;
  max-width: 100%;
}
.is__p {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}
.is_title {
  color: var(--gray-gray-500);
  margin: 32px 0 0;
  font-weight: 700;
  line-height: 120%;
  font-size: 24px;
}
.is_text {
  color: var(--gray-gray-400);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.out_d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px;
  height: 100%;
  border: 1px solid var(--gray-gray-400);
  border-radius: 12px;
  box-shadow: inset 2px 2px 24px 2px rgba(10, 56, 113, 0.31);
  overflow: auto;
}

.out__resultado {
  text-align: center;
  color: var(--dark-blue-300);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
}

.copiar__btn {
  background-color: #ffffff;
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
  cursor: pointer;
  width: 100%;
  max-width: none;
}

.ocultar {
  display: none;
}

.footer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid var(--dark-blue-100);
  padding: 20px;
}
.footer_icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer_icons a {
  text-decoration: none;
}
.footer_info {
  text-align: center;
}
.footer_info p,
h4 {
  color: var(--dark-blue-300);
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

/* btn tomado de https://uiverse.io/CYBWEBALI/unlucky-insect-96 */
.btn {
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 1.4em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
}
.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}
.btn i {
  transition: transform 0.5s;
}
.btn:hover i {
  transform: scale(0.9);
  fill: #333333;
}
